<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/edit.css" />
</head>
<body>
    <form action="http://localhost:<%= port %>/users/<%= user["id"] %>?_method=PATCH" method="post">
        <div class="fields">
            <label for="username">Username:</label>
            <div class="usernameDiv">
                <input class="username" type="text" id="username" name="username" placeholder="username" value="<%= user['username'] %>">
                <p id="errMessage" class="message">Username already exists!</p>
            </div>
        </div>
        <div class="fields">
            <label for="email">Email:</label>
            <div class="usernameDiv">
                <input type="email" id="email" name="email" placeholder="Email" value="<%= user['email'] %>">
                <p id="existsMessage" class="message">Email already linked to another account!</p>
                <p id="invalidMessage" class="message">Invalid Email!</p>
            </div>
        </div>
        <button>Save</button>
    </form>
    <script>
        const duplicateEmail = <%= duplicateEmail %>;
    </script>
    <script src="/edit.js"></script>
</body>
</html>